@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Braah+One&display=swap');


body{
    background-color:#E9C9F2;
    margin: auto;
    text-align: center;
}


h2{
  color: #D9597B;
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1{
  color: #D9597B;
  font-family: "Braah One", sans-serif;
  font-weight: 400;
  font-style: normal;

}

#logo{
    justify-content: center;
    margin-top: 3%;
}

#estrella{
    padding-right: 83%;
    padding-bottom: 3%;
}
