@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Braah+One&display=swap');

body{
    background-color:#E9C9F2;
    margin: auto;
    width: 80%;
    text-align: center;

}

h2{
  color: #D9597B;
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1{
  color: #D9597B;
  font-family: "Braah One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

p{
  color: #D9597B;
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 35px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: start; 
  height: 100px;
  margin: 5%;
  margin-top: 40px;
  
}

#points{
  align-self:center;
  margin-bottom: 2px;
  margin-top: 2px;
}

video{
  align-items: center;
  margin: auto;
  height: 550px;
  margin-top: 230px;
  margin-bottom: 120px;
  border-style: dotted;
  border-color:#D9597B;
  border-width: 5px;
  border-left-width: 5px;
  border-right-width: 5px;
  background-color:#EFF29B;
}

#nube{
  position: absolute;
  width: 950px;
  top: -0%;
  left: 18%;
  margin-bottom: 10px;
}

#text{
  margin-top: 65px;
  margin-top: 100px;
}

#estrella{
  position: absolute;
  transform: rotate(-20deg);
  top: 25%;
  right: 2%;
  width:150px;

}

#estrella2{
  position: absolute;
  transform: rotate(20deg); 
  width:150px;
  top: 25%;
  left:2%;
}

#logo{
  width: 300px;
  padding-left: 85%;
  align-self: center;
}

button{
  background-color:#EFF29B;
    color:#D9597B;
    font-family: "Braah One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    width: 400px;
    font-size: 40px;
    border-style: dotted;
    border-color:#D9597B;
    border-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    pointer-events: auto; 
    display: block;
    position: relative;
    z-index: 9999;
    margin-top: 5px;
}

a {
  text-decoration: none;
}