@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Braah+One&display=swap');

body{
    background-color:#E9C9F2;
    margin: auto;
    width: 80%;
    text-align: center;

}

h2{
  color: #D9597B;
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1{
  color: #D9597B;
  font-family: "Braah One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

p{
  color: #D9597B;
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: start; 
  height: 100px;
  margin: 5%;
  
}

#points{
  align-self: flex-start;
  margin-bottom: 2px;
  margin-top: 2px;
}

video{
  align-items: center;
  margin: auto;
  height: 550px;
  margin-top: 150px;
  margin-bottom: 150px;
  border-style: dotted;
  border-color:#D9597B;
  border-width: 5px;
  border-left-width: 5px;
  border-right-width: 5px;
  background-color:#EFF29B;
}